body {
    /* max-height: 100%; */
    margin: 0;
    padding: 0;
    background: linear-gradient(#E6E6E6, #424242);
}
html {
    min-height: 100%;
}
footer {
  margin-bottom: 0;
  margin-top: -3vh;
}
a {
  text-decoration: none;
  color: rgb(88, 201, 237);
}
